*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(23, 23, 68);
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choices{
    margin:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    
    
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
img:hover{
    border: 5px solid black;
    opacity: 0.5;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
}
#user ,#comp{
    font-size: 5rem;
    text-align: center;
}
.msg-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    background-color:  rgb(23, 23, 68);
    color: white;
    font-size: 1rem;
    padding: 10px;
    display: inline;
}